@import "tailwindcss";




/* ======== CORES PRINCIPAIS (DEFAULT: DARK) ======== */
:root {
  --background: #422718;
  --foreground: #ededed;
  --text-primary: #ffffff;
  --divider-color: #A56734;
  --main-background: #512b1e;
  --form-background: #D9B9A0;
  --title-color: #6e3b1f;
  --color-shadow-hero: rgba(255, 255, 255, 0.15); 
}

/* ======== LIGHT MODE VIA CLASSE ======== */
.light {
  /* Fundo da Navbar, Footer e do corpo */
  --background: #d7a86e; 
  
  /* Cor dos ícones, texto principal e logos */
  --foreground: #3e2723;
  
  /* Cor principal de texto, usado em links e botões */
  --text-primary: #3e2723;
  
  /* Cor dos divisores e bordas */
  --divider-color: #a58b75;
  
  /* Fundo da área de conteúdo principal (cards, etc) */
  --main-background: #d7a86e;
  
  /* Fundo dos campos de formulário e áreas de busca */
  --form-background: #f5e6d5;
  
  /* Cor para títulos, como "Sua Biblioteca de Livros" */
  --title-color: #512b1e;

   --color-surface-hero: #d7a86e;
  
  --color-shadow-hero: rgba(38, 42, 62, 0.3); 
}


/* ======== BODY ======== */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ======== HEADER & FOOTER ======== */
header,
footer {
  background-color: var(--background);
  color: var(--foreground); /* Use a cor de foreground para o texto */
  overflow: hidden;
}

header {
  border-bottom: 1px solid var(--divider-color);
}

footer {
  border-top: 1px solid var(--divider-color);
}

/* ======== MAIN ======== */
main {
  background-color: var(--main-background);
  color: var(--foreground); /* Use a cor de foreground para o texto */
  display: grid;
  height: 90%;
  place-items: center;
  flex: 1;
}

/* ======== THEME (NÃO ALTERAR AQUI) ======== */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ======== DARK MODE (FALLBACK) ======== */
@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #512b1e;
    --foreground: #ededed;
    --text-primary: #ffffff;
    --divider-color: #A56734;
    --main-background: #512b1e;
    --form-background: #A56734;
  }
}